body
{
    background-image: url("fondo.jpg");
    background-size:cover;
    padding-top: 60px;
}

button
{
    background-color: rgb(228, 185, 147);
}

.container
{
    background-color: rgb(202, 202, 231);
    padding: 20px;    
    margin-top: 0 auto;
    opacity: 0.94;
    border:solid 2px rgb(163, 170, 228);
    border-radius: 2%;
    font-size: 18px;
}

fieldset{
    border: 1px groove Black !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
}

legend{
    font-size: 20px !important;
    width:inherit;
    padding:0 10px;
    border-bottom:none;
}

span
{
    visibility: hidden;
}

ul
{
    margin: 0px;
    padding: 0px;
    text-align: right;
}