/*Contraseña de mySQL es 1234Fernando*/
body
{
    background-image: url("fondo.jpg");
    background-color: khaki;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container
{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background-color: rgb(203, 203, 224);
    border-radius: 20px;
    border: 2px solid silver;
    font-family: 'roboto';
}

.label
{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.form
{
    padding: 20px 40px;
}
.form .font
{
    font-size: 18px;
}
.form input
{
    height: 30px;
    width: 350px;
    padding: 0 5px;
    outline: none;
    border: 1px solid rgb(144, 150, 155);
}
.form .font2
{
    margin-top: 40px;
}
.form button
{
    background-color: rgb(228, 185, 147);
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-left: 23%;
    border-radius: 7px;
    color: black;
    outline: none;
    cursor: pointer;
    transition: .5s;
    border: rgb(206, 111, 28);
}
.form button:hover
{
    background-color: rgb(182, 121, 67);
}

.msg-error
{
    color:red;
    display: block;
    margin-top: 2px;
    margin-left: 3px;
}

/*HTML BIENVENIDO*/
.ctn-welcome
{
    width: 100%;
    max-width: 600px;
    text-align: center;    
    padding: 40px;
    margin: auto;
    margin-top: 120px;
    background: rgb(201, 180, 219);
    border: 2px solid rgb(141, 120, 161);
    border-radius: 30px;
}

.tittle
{
    font-weight: 400px;
    font-size: 45px;
}
.logo
{
    width: 80px;
}

.tittle b
{
    color: #BF4222;
}

.cerrar-sesion
{
    width: 100%;
    max-width: 220px;
    margin: auto;
    display: block;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(0deg, #cf7754, #c4237e);
    color: white;
    font-size: 20px;
    font-weight: 100px;
    border: 1px solid rgb(141, 120, 161);
}
.cerrar-sesion:hover
{
    background: linear-gradient(150deg, #bb562e, #c4237e);
}